.calendar-board {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 3rem;
  padding: 1rem;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.full100 {
  width: 100%;
  height: 100%;
}
.calendar {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  display: flex;
  color: white;
}
.calendar-main {
  height: 85%;
  width: 60%;
}
.calendar-detail {
  margin-top: 2%;
  height: 76%;
  width: 38%;
  margin-left: 2%;
}
.calendar-maincontainer {
  position: relative;
  width: 100%;
  height: 90%;
}
.calendar-weekends {
  display: flex;
  height: 7%;
  font-size: 0.6rem;
}
.calendar-dates {
  height: 90%;
  width: 100%;
}
.calendar-dates-week6 {
  height: 16%;
  margin-bottom: 1%;
}
.calendar-dates-week5 {
  height: 20%;
  margin-bottom: 1%;
}
.calendar-dates-week4 {
  height: 25%;
  margin-bottom: 1%;
}
.calendar-dates-row {
  font-weight: bold;
  display: flex;
  height: 100%;
}
.calendar-Weekends-content {
  text-align: left;
  width: 13%;
  height: 10%;
  position: relative;
  left: 1%;
  margin-left: 1%;
}
.sunday {
  color: #e60000 !important;
}
.saturday {
  color: #6464c8 !important;
}
.holiday {
  color: #e60000 !important;
}
.pastmonth {
  color: #646464 !important;
}
.nextmonth {
  color: #646464 !important;
}
.date-column {
  width: 13%;
  background-color: rgb(255, 255, 255, 0.1);
  margin-left: 1%;
  border-radius: 0.5rem;
}
.date-column-dates {
  position: relative;
  height: 75%;
  font-size: 0.8rem;
  left: 5%;
  text-align: left;
}
.date-column-content {
  width: 100%;
  height: 30%;
  font-size: 0.5rem;
  text-align: center;
  position: relative;
}
.date-column-count {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  position: absolute;
  right: 0%;
  top: -50%;
}
.calendar-detail-date {
  height: 10%;
  font-weight: bold;
}
.calendar-detail-details {
  height: 90%;
  overflow: auto;
}
.calendar-detail-board {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  text-align: center;
}
.calendar-schedule-detail {
  color: black;
  width: 80%;
  height: 18%;
  margin-left: 10%;
  margin-top: 8%;
  border: 0px;
}
.calendar-schedule-detail-button {
  color: black;
  background-color: rgb(255, 255, 255, 0.3);
  text-align: left;
  border-radius: 0.5rem;
  border: 0px;
}
.calendar-schedule-detail-startdate {
  font-size: 0.5rem;
  line-height: 100%;
}
.calendar-schedule-detail-title {
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.month-change {
  position: absolute;
  text-align: left;
  width: 30%;
  right: 0%;
  height: 10%;
  font-size: 0.8rem;
  top: -14.5%;
  font-weight: bold;
  display: flex;
}
.month-change-pn {
  width: 7%;
  cursor: pointer;
}
.month-change-ym {
  width: 68%;
  text-align: center;
  margin-left: 5%;
}
.date-column-today {
  outline: 2px solid #6464c8;
}
