@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-Thin.woff);
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-ExtraLight.woff);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-Light.woff);
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-Regular.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-Medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-Black.woff);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-LightItalic.woff);
  font-weight: light;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-Italic.woff);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-MediumItalic.woff);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-SemiBoldItalic.woff);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-BoldItalic.woff);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-BlackItalic.woff);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url(./assets/fonts/NotoSansKR/NotoSansKR-Thin.otf) format('woff2');
  font-weight: thin;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url(./assets/fonts/NotoSansKR/NotoSansKR-Light.otf) format('woff2');
  font-weight: light;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url(./assets/fonts/NotoSansKR/NotoSansKR-Regular.otf) format('woff2');
  font-weight: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url(./assets/fonts/NotoSansKR/NotoSansKR-Medium.otf) format('woff2');
  font-weight: 500;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url(./assets/fonts/NotoSansKR/NotoSansKR-Bold.otf) format('woff2');
  font-weight: bold;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url(./assets/fonts/NotoSansKR/NotoSansKR-Black.otf) format('woff2');
  font-weight: 900;
  unicode-range: U+AC00-D7A3;
}

body {
  height: 100%;
}

* {
  font-family: 'Montserrat', 'Noto Sans KR';
}

.App {
  background-image: url('../public/img/haru-default-bg-1440.png');
  width: 100vw;
  min-width: fit-content;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap {
  width: 75%;
  min-width: 992px;
  height: fit-content;
  min-height: 100vh;
}

/* width, height */
.h-80 {
  height: 80%;
}
.h-70 {
  height: 70%;
}
.h-40 {
  height: 40%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-30 {
  width: 30%;
}
